@import "../px2rem.scss";

#people-insurance{
	height: 100%;
	text-align: center;

}
.section-img{
      background: url("../../assets/images/failed.png") no-repeat;
         width: px2Rem(127px);
      background-size:px2Rem(127px) auto;
	  height: px2Rem(160px);
      margin:   0 auto;
      padding-top:px2Rem(145px);
      background-position: 0px px2Rem(145px);
      margin-bottom: px2Rem(30px);
}
