/*横向等分 纵向居中*/
.space-between {
  display:-webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  -webkit-box-pack: center;
  -webkit-justify-content: space-between;
  -ms-justify-content: space-between;
  -moz-justify-content: space-between;
  -o-justify-content: space-between;
  -ms-flex-pack: center;
  align-items:center;
  -webkit-align-items:center;
  -moz-align-items:center;
  -ms-align-items:center;
  -o-align-items:center;
  box-align:center;
  -moz-box-align:center;
  -ms-box-align:center;
  -o-box-align:center;
  -webkit-box-align:center;
}
/*自动换行*/
.flex-wrap {
  display:-webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  -webkit-box-pack: center;
  -webkit-justify-content: space-between;
  -ms-flex-pack: center;
  align-items:center;
  -webkit-align-items:center;
  box-align:center;
  -moz-box-align:center;
  -webkit-box-align:center;
  box-lines:multiple;
  -webkit-flex-wrap:wrap;
  -webkit-box-lines:multiple;
  -moz-flex-wrap:wrap;
  flex-wrap:wrap;

}
/*等分居中*/
.space-around {
  display:-webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-around;
  -webkit-box-pack: center;
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  -ms-justify-content: space-around;
  -o-justify-content: space-around;
  -ms-flex-pack: center;
  align-items:center;
  -webkit-align-items:center;
  -moz-items:center;
  -o-align-items:center;
  -ms-align-items:center;
  box-align:center;
  -o-box-align:center;
  -ms-box-align:center;
  -moz-box-align:center;
  -webkit-box-align:center;
}
/*横向等分 纵向底线*/
.space-end {
  display:-webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-justify-content: space-between;
  -moz-justify-content: space-between;
  -o-justify-content: space-between;
  -ms-flex-pack: justify;
  align-items:flex-end;
  -webkit-align-items:flex-end;
  -ms-align-items:flex-end;
  -moz-align-items:flex-end;
  -o-align-items:flex-end;
  box-align:end;
  -moz-box-align:end;
  -webkit-box-align:end;
}
/*垂直水平居中*/
.space-center {
  display:flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  justify-content: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -o-justify-content: center;
  -moz-box-pack:center;
  -webkit-box-pack:center;
  box-pack:center;
  align-items:center;
  -moz-align-items:center;
  -webkit-align-items:center;
  -moz-align-items:center;
  -o-align-items:center;
  box-align:center;
  -moz-box-align:center;
  -webkit-box-align:center;
}
/*水平居中*/
.justify-contents{
    display:flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  justify-content: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -o-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  -moz-box-pack:center;
  -webkit-box-pack:center;
  -o-box-pack:center;
  align-items:center;
  -moz-align-items:center;
  -webkit-align-items:center;
  -moz-align-items:center;
  -o-align-items:center;
}
/*垂直居中*/
.align-items{
  display:-webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  -moz-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  box-align:center;
  -o-box-align:center;
  -ms-box-align:center;
  -moz-box-align:center;
  -webkit-box-align:center;
}
/*垂直右边*/
.align-items-right{
  display:-webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -o-align-items: center;
  -ms-align-items: center;
  box-align:center;
  -moz-box-align:center;
  -webkit-box-align:center;
  -ms-box-align:center;
  -o-box-align:center;
  justify-content: flex-end;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-justify-content: flex-end;
  -o-justify-content: flex-end;
  -moz-justify-content: flex-end;
  -ms-flex-pack: end;
}

/*垂直方向等分*/
.flexWrap{
  display: flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  -webkit-flex-wrap:wrap;
  -moz-flex-wrap:wrap;
  -o-flex-wrap:wrap;
  -ms-flex-wrap:wrap;
  flex-wrap:wrap;
  flex-direction: column;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -o-flex-direction: column;
  -ms-flex-direction: column;
  -webkit-box-orient:vertical;
  -moz-box-orient:vertical;
  justify-content: space-around;
  -moz-justify-content: space-around;
  -ms-justify-content: space-around;
  -o-justify-content: space-around;
  -webkit-box-pack: justify;
  -webkit-justify-content:space-around;
  -ms-flex-pack: justify;
}
