@import "./px2rem.scss";

#insureResult {

  span, p {
    color: #FF3300;
  }
  p {
    font-size: 24px;
  }
  img {
    width: px2Rem(230px);
  }
  section {
    margin-left: px2Rem(50px);
    width: px2Rem(260px);
    color: #999999;
    margin-top: px2Rem(20px);
    line-height: 20px;
    font-size: px2Rem(15px);
    text-align: justify;
  }
  div {
    width: 90%;
    height: 40px;
    line-height: 40px;
    background: #00D4BE;
    color: #FFFFFF;
    font-size: 16px;
    border-radius: 5px;
    padding: 0;
    position: absolute;
    bottom: 50px;
    left: 50%;
    margin-left: -45%;
  }

}
