<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
		<encoder charset="UTF-8">
			<pattern>%d{MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
			</pattern>
		</encoder>
	</appender>

    <root level="INFO">
        <appender-ref ref="stdout" />
    </root>

	<if condition='property("spring.profiles.active").contains("development")'>
		<then>
            <!--
            <logger name="org.activiti" level="DEBUG" />
            -->

			<root level="INFO">
				<appender-ref ref="stdout" />
			</root>
		</then>
	</if>
	<if condition='property("spring.profiles.active").contains("functional") || property("spring.profiles.active").contains("test")'>
		<then>
			<root level="INFO">
				<appender-ref ref="stdout" />
			</root>
		</then>
	</if>
	<if condition='property("spring.profiles.active").contains("production")'>
		<then>
			<!--<logger name="com.insaic.dealer.web.BusinessObjectCacheMonitorThread" level="INFO" />-->

			<root level="INFO">
				<appender-ref ref="stdout" />
			</root>
		</then>
	</if>
</configuration>