.borders{
  -webkit-border-radius:50%;
     -moz-border-radius:50%;
          border-radius: 50%;
}
.borderfor{
  -webkit-border-radius:40px;
     -moz-border-radius:40px;
          border-radius: 40px;
}
.borderten{
  -webkit-border-radius:0.133rem;
     -moz-border-radius:0.133rem;
          border-radius: 0.133rem;
}
.border:after {
	    height: 1px;
	    content: '';
	    width: 100%;
	    
	    position: absolute;
	    bottom: -1px;
	    right: 0;
	    transform: scaleY(0.5);
	    -webkit-transform: scaleY(0.5);
}
.borderbox{
    box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.acount{
  position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background:#f3f4f6;
}
.acountbottom{
  width:7.6rem;
  height:1.067rem;
  line-height: 1.067rem;
  text-align: center;
  font-size:0.427rem;
  color:#fff;
  background: #2e87fb;
  margin: 0 auto;
}
.clickacount{
  background: rgba(46,135,251,.6)
}
.pfxi{
	font-family: PingFangSC-Light !important;
}
.pftn{
	font-family: PingFangSC-Thin !important;
}
.pfrg{
  font-family: PingFangSC-Regular !important;
}
.Helve{
    font-family: Helvetica !important;
}
.paddingfor{
   padding-left: 0.187rem;
}