#checkout {
	background: red;
}

.checkoutList {
	li {
		background: #fff;
		margin-bottom: 10px;

		.des {
			border-bottom: 1px solid #eceff8;
			padding: 20px 15px;
			position: relative;
			height: 90px;

			.month {
				position: absolute;
				width: 50px;
				height: 50px;
				border-radius: 50%;
				background: red;
				left: 15px;
				background: #df6b3c;
				color: #fff;
				text-align: center;
				line-height: 52px;
				font-size: 18px;
			}

			.count {
				position: absolute;
				left: 80px;
				color: #999999;
				top: 29px;

				b {
					display: block;
					color: #555;
					font-weight: normal;
					font-size: 18px;
					margin-top: 5px;
				}
			}

			span {
				display: block;
				font-weight: normal;
				position: absolute;
				right: 15px;
				top: 35px;
				font-size: 18px;
				color: #666;

				b {
					font-weight: normal;
					font-size: 26px;
				}
			}
		}

		.action {
			height: 40px;
			text-align: right;

			.left {
				float: left;
				margin-left: 15px;

				a {
					display: block;
					float: left;
					margin-top: 12px;
				}
			}

			.right {
				float: right;

				button {
					margin-right: 15px;
					margin-top: 8px;
					min-width: 60px;
				}

				span {
					display: inline-block;
					margin-right: 15px;
					color: #df6b3c;
				}
			}
		}
	}
}
