#login {
  color: #555;

  h4 {
    font-size: 16px;
    font-weight: normal;
    padding: 22px 15px;
  }

  ul {
    li {
      padding: 10px 15px;
      background: #ffffff;
      border-bottom: 1px solid #ebebeb;
      position: relative;

      label {
        display: block;
        float: left;
        width: 90px;
        text-align: right;
        padding-right: 10px;
        height: 26px;
        line-height: 28px;
      }

      p {
        margin-left: 90px;

        input {
          border: none;
          height: 26px;
          width: 100%;
          font-size: 16px;
          color: #555;
        }
      }

      &.captcha {
        input {
          width: calc(100% - 60px);
        }

        img {
          display: block;
          width: 50px;
          height: 28px;
          border: 0;
          position: absolute;
          right: 15px;
          top: 10px;
        }
      }

      &:last-child {
        border-bottom: none;
      }
    }
  }

  button {
    width: 80%;
    margin: 20px 10%;
    font-size: 16px;
    padding: 10px;

    &:disabled {
      background: #d0d0d0;
      color: #dddddd;
    }
  }
}
