.prompting{
	color:#ef6f42;
	background: #fcf8e3;
	border-bottom:1px solid #f0b479;
	padding:10px 15px;
	img{
		width:14px;
		height:14px;
		padding-right:5px;
		position: relative;
		top:2px;
	}
}
.info {
	height: 65px;
	position: relative;
	background: #ffffff;
	border-bottom: 1px solid #dedcdf;
	overflow: hidden;

	.icon {
		width: 45px;
		height: 45px;
		position: absolute;
		left: 12px;
		top: 10px;
		border:1px solid #dedcdf;
		border-radius: 4px;
	}
	b {
		position: absolute;
		font-size: 18px;
		left: 65px;
		top: 25px;
	}

	span {
		position: absolute;
		right: 15px;
		font-size: 18px;
		top: 26px;
		color: #ef6f42;
	}

	label {
		background: #13d9c8;
		color: #fff;
		display: block;
		position: absolute;
		right: -23px;
		transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		-webkit-transform: rotate(45deg);
		-o-transform: rotate(45deg);
		-moz-transform: rotate(45deg);
		font-size: 10px;
		width: 66px;
		text-align: center;
		top: -3px;
		padding-top: 16px;
		padding-bottom: 4px;
	}
}

.address {
	background-color: #fff;
	background-image: repeating-linear-gradient(135deg, #F29B91 0px, #F09290 15px, transparent 15px, transparent 25px, #83B3DB 25px, #84ADCB 40px, transparent 40px, transparent 50px);
	padding: 4px;
	margin-top: 15px;

	div,
	p {
		background: #ffffff;
	}

	div {
		padding: 12px 10px;
		position: relative;

		span {
			display: block;
			right: 10px;
			top: 12px;
			position: absolute;
		}
	}

	p {
		font-size: 14px;
		color: #999999;
		display: block;
		padding: 12px 0 12px 10px;
	}
}

.sale {
	background: #ffffff;
	margin-top: 15px;
	width: 100%;
	border-bottom: 1px solid #dedcdf;
	border-top: 1px solid #dedcdf;

	td {
		padding: 10px;
		line-height: 1.4;
		vertical-align: middle;

		&:nth-child(2) {
			padding-left: 0;
			color: #888888;
		}
	}
}

.insuranceItem {
	background: #ffffff;
	margin-top: 15px;
	border-bottom: 1px solid #dedcdf;
	border-top: 1px solid #dedcdf;

	.type {
		position: relative;
		padding: 15px;

		span {
			position: absolute;
			right: 30px;
			top: 15px;
		}
		i {

			display: inline-block;
			width: 18px;
			height: 18px;
			background-size: 18px !important;
			position:absolute;
			right:10px;
			top:13px;
			background: url("../../assets/images/arrow.png") top left no-repeat;
		}
		.up{
			background-position-y: -37px;
		}
		.down{
			background-position-y: -18px;
		}
	}



	.tableWrap {
		background: #f7fcff;
		padding: 15px;
		border-top: 1px solid #ebedf0;
	}
	.tableNext{
		tr{
			td:first-child{
				width:30%;
			}
		}
	}

	table {
		width: 100%;
		tr{
			line-height: 25px;
		}
		td {
			font-size: 14px;
			color: #999;

			span span {
				background: #c9cee1;
				color: #ffffff;
				font-size: 12px;
				padding: 2px 5px;
				border-radius: 2px;
				position:relative;
				top:-1px;
			}

			&:nth-child(3) {
				text-align: right;
			}
		}
		tr td:first-child{
			width:34%;
		}
	}

	p {
		display: block;
		margin-top: 15px;
		color: #999;
		font-size: 12px;

		span {
			color: #ef7043;
		}
	}
}
button{
	outline:none;
}
.failColor{
	color:#999 !important;
}
.orderDetail {
	background: #ffffff;
	margin-top: 15px;
	border-top: 1px solid #dedcdf;
	border-bottom: 1px solid #dedcdf;
	padding: 10px 0;

	table {
		width: 100%;

		td {
			padding: 5px 15px;
			font-size: 12px;
			color: #999999;

			&:nth-child(2) {
				text-align: right;
			}
		}

	}
}
