@import "../px2rem.scss";

#banmaActivity{
	background:#fff;
	img {
		width: 100%;
	}
	i {
		display: inline-block;
		width: 5px;
		height: 10px;
		margin-right: 11px;
		background: #56DEC6;
	}
	.content {
		width: 92%;
		margin: 0 4%;
		h2 {
			font-size: 15px;
			line-height: 18px;
			margin:14px;
		}
		.text {
			padding: 10px 16px;
			line-height: 18px;
			font-size: 14px;
			color: #666;
			background: #F6F6F6;
		}
	}
	.footer {
		padding: 22px 0;
		line-height: 16px;
		font-size:12px;
		text-align: center;
		color: #AEAEAE;
	}
}