@import "../px2rem.scss";

.succeedRefund{
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    position: absolute;
    .refundContent{
        height: auto;
        padding: 25px 20px 0px 20px;
        position: relative;
        .refundContentImg{
            width: 55px;
            height: 55px;
            img{
                width: 100%;
                height: 100%;
            }
        }
        .refundContentText{
            position: absolute;
            padding-left: 90px;
            top: 35px;
            left: 0px;
            h1{
                font-size: 18px;
            }
            p{
                color: #999999;
                margin-top: 15px;
                line-height: 20px;
            }
        }
    }
    .returnBtn{
        position: fixed;
        bottom: 10px;
    }
}
.look{
        position: absolute;
            padding-left: 90px;
            top: 120px;
            right: 30px;
            font-size:18px;
            color:#13d9c8;
        i{
        display: inline-block;
        width: 18px;
        height: 18px;
        background: url("../../assets/images/green_right.png") top left no-repeat;
        background-position: 0px 0px;
        background-size: 10px;
        position:absolute;
        top:0px;
        right: -20px;
        margin-right: -4px;
    }
}
