@import "../px2rem.scss";

.list {
  .nodata {
    padding-top: 150px;

    img {
      width: 150px;
      height: 150px;
      margin: 0 auto;
      display: block;
      border: 1px red;
      border-color: #c8c8c8;
    }
    .returnBtn {
      position: fixed;
      bottom: 10px;
      left: 0;
    }
    div {
      margin: 42px auto;
      text-align: center;
      font-size: 18px;
    }

    p {
      margin: auto 14px;
      line-height: 22px;
      color: #98999D;

      &:last-child {
        margin-top: 40px;
      }
    }
  }

  p {
    padding: px2Rem(14px);
    font-size: px2Rem(15px);
    color: #666;
  }

  .item {
    background-color: #f9f9f9;
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }

    .item-title {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;

      div {
        padding: px2Rem(14px);

        &:nth-of-type(1) {
          font-size: px2Rem(15px);
          color: #000;
        }

        &:nth-of-type(2) {
          font-size: px2Rem(15px);
          color: #EF6F43;
        }

        &.outdate {
          color: #888;
        }
      }
    }

    .item-content {
      border-top: 1px solid #eee;
      border-bottom: 1px solid #eee;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;

      .picc {
        width: px2Rem(50px);
        height: px2Rem(50px);
        border: 1px solid #eee;
        margin: px2Rem(12px);
        background-repeat: no-repeat !important;
        background-size: cover !important;
        background: url('../../assets/images/logo.png');
      }

      .cpic {
        background-position-y: px2Rem(-177px);
      }
      // 平安
      .paic {
        background-position-y: px2Rem(-119px);
      }
      // 中国人寿
      .gpic {
        background-position-y: px2Rem(-58px);
      }
      // 阳光保险
      .ygbx {
        background-position-y: px2Rem(-240px);
      }
      // 紫金保险
      .zkic {
        background-position-y: px2Rem(-298px);
      }

      div {
        padding: 5px;
      }

      & > div:nth-of-type(2) {
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
        font-size: px2Rem(18px);
        padding: 0;
      }

      & > div:nth-of-type(3) {
        -webkit-box-flex: 1.4;
        -ms-flex: 1.4;
        flex: 1.4;
        margin-right: px2Rem(6px);

        div {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: justify;
          -ms-flex-pack: justify;
          justify-content: space-between;

          span {
            font-size: px2Rem(12px);
            color: #888;
          }
        }
      }
    }

    .item-footer {
      padding: px2Rem(8px);
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      margin-left: px2Rem(8px);
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;

      & > div:nth-of-type(1) {
        span {
          vertical-align: baseline;
        }

        span:nth-of-type(1) {
          font-size: px2Rem(12px);
          color: #333;
        }

        span:nth-of-type(2) {
          font-size: px2Rem(24px);
          color: #EF6F43;
        }
      }

      & > div:nth-of-type(2) {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;

        .button {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          width: 54px;
          height: 24px;
          border-radius: 2px;
          font-size: px2Rem(12px);
          margin-right: 6px;
        }

        .calc {
          color: #fff;
          background-color: #13D9C8;
          border: 1px solid #13D9C8;
        }

        .delete {
          color: #ccc;
          border: 1px solid #ccc;
        }
      }
    }
  }
}
