  .picc {
    background-position: 0px 0px !important;
  }

  .gpic {
    background-position: 0px -60px !important;
  }

  .paic {
    background-position: 0px -120px !important;
  }

  .zkic {
    background-position: 0px -240px !important;
  }

  .cpic {
    background-position: 0px -180px !important;
  }
  .ygbx {
    background-position: 0px -240px !important;
  }