@import "../px2rem.scss";

.cellList{
	.textarea{
		padding: 0 15px;
		font-size: 14px;
		width: 100%;
		height: 110px;
		box-sizing: border-box;
		position: relative;
		.number-span{
			position: absolute;
			right: 15px;
			bottom: 10px;
		}
		border-bottom: 1px solid #eeeeee;
	}
	textarea {
		border:none;
		outline: none;
		resize:none;
		width: 100%;
		height: 90%;
		font-size: 14px;
		color: #888;
		background: #fff;
	}

	.number-span span{
		color:#888;
		display: inline-block;
	}
	ul li {
		border-bottom: 1px solid #eeeeee !important;
	}
}	
.reqAddress{
	text-align: right;
	height: 34px;
	font-size: 14px;
	width: 100%;
	margin-top: 6px;
	padding: 0;
	line-height:34px;
	span{
		position: inherit
	}
}
.checkbox-core {
	background:url('../../assets/images/radiobuttonnor.png') center center no-repeat;
}
.checkout{
	background:url('../../assets/images/radiobuttonselect.png') center center no-repeat;
}
.checkbox-input{
	text-align: right;
	input{
		display: none;
	}

}
.checkout-span{
		display: inline-block;
		border-radius: 100%;
		position: relative;
		width: 22px;
		height: 22px;
		top: 12px;
		vertical-align: middle;
		right: 0;
		background-size:22px;
}

.dealer-message{
	.address{
		text-align:left;
		border-top: 1px solid #eeeeee;
		span {
			color: #888;
			line-height: 20px;
		}
	}
	input{
		display: none;
	}
	u{
		text-decoration: none;
		position: absolute;
		left: 15px;
	}
	div{
		padding: 10px 10px;
		position: relative;
		background: #fff;
	}
	.checkbox-core , .checkout{
		position: absolute;
		right: 15px;
		top:6px;
	}
	li{
		text-align: center;
		margin-bottom: 10px;
	}
}
.reminder{
	padding: 20px 15px;
	line-height: 20px;
}
.btn{
	margin-top: px2Rem(100px);
	outline: none;
}
.cell-allow-right {
	display: inline-block;
	width: 15px;
	height: 15px;
	background: url("../../assets/images/arrow.png") top left no-repeat;
	background-position: 0px 0px;
	background-size: 15px;
	position:absolute;
	right:-12px;
	top:15px;
}

.color-black {
	color: #000 !important;
}
