#quoted {}

.quotedItem {
  background: #fff;
  border-bottom: 1px solid #dedcdf;

  &:nth-of-type(1) {
    margin-bottom: 10px;
  }

  .info {
    height: 65px;
    position: relative;

    .icon {
      width: 45px;
      height: 45px;
      position: absolute;
      left: 11px;
      top: 9px;
      border: 1px solid #ebeff8;
      border-radius: 4px;
    }

    b {
      position: absolute;
      font-size: 18px;
      left: 65px;
      top: 25px;
    }

    span {
      position: absolute;
      right: 15px;
      font-size: 18px;
      top: 28px;
      color: #ef6f42;

      &.no-offer {
        color: #dedcdf;
        font-size: 14px;
      }
    }

    .loading {
      background: url("../../assets/images/loading.gif") top left no-repeat;
      width: 32px;
      height: 32px;
      background-size: 32px;
      position: absolute;
      right: 14px;
      top: 20px;
    }

    .noneData {
      position: absolute;
      right: 15px;
      color: #999;
      top: 29px;
    }
  }

  .detail {
    background: #f9fcff;
    padding: 10px 15px;
    border-top: 1px solid #ebeff8;
    position: relative;

    &::after,
    &::before {
      content: '';
      display: block;
      width: 0;
      height: 0;
      border-left: 12px solid transparent;
      border-right: 12px solid transparent;
      border-bottom: 10px solid #ebeff8;
      position: absolute;
      right: 40px;
      top: -10px;
    }

    &::after {
      top: -9px;
      border-bottom: 10px solid #f9fcff;
    }

    table {
      width: 100%;

      td {
        padding: 7px 0;

        &:nth-child(3) {
          text-align: right;
        }

        &.title {
          font-size: 16px;
        }
      }

      .mini {
        td {
          font-size: 13px;
          color: #999;

          span, u {
            background: #c9cee1;
            color: #ffffff;
            font-size: 12px;
            padding: 3px 5px;
            border-radius: 2px;
            background-size: 14px;
            background-position: 3px 3px;

            &.current {
              background-color: #13d9c8;
            }
          }
          span:nth-child(2) {
            background: #F9FCFF;
            color: #c9cee1;
          }
          u {
            opacity: 0;
          }
        }
      }
    }

    .btn {
      margin: 15px 5% 5px;
    }
  }
}

.btn.edit {
  padding: 7px 0;
  width: 160px;
  background: #fff;
  color: #13d9c8;
  font-size: 14px;
  border-radius: 4px;
  margin: 20px auto;
  display: block;
  border: 1px solid #e6e8ec;
}

body {
  background-color: #47d1da;
}

.loadingDot {
  text-align: center;
  font-size: 14px;
  height: 20px;
  line-height: 20px;
  color: #999;
  position: absolute;
  top: 20px;
  right: 20px;
}

.loadingDot:after {
  content: '.';
  font-size: 26px;
  line-height: 20px;
  animation: dots 1s steps(5, end) infinite;
}
@keyframes dots {
  0%,
  20% {
    color: #aaa;
    text-shadow: 0.25em 0 0 rgba(0,0,0,0), 0.5em 0 0 rgba(0,0,0,0);
  }

  40% {
    color: #ddd;
    text-shadow: 0.25em 0 0 rgba(0,0,0,0), 0.5em 0 0 rgba(0,0,0,0);
  }

  60% {
    text-shadow: 0.25em 0 0 #ddd, 0.5em 0 0 rgba(0,0,0,0);
  }

  100%,
  80% {
    text-shadow: 0.25em 0 0 #ddd, 0.5em 0 0 #ddd;
  }
}
